<app-navbar></app-navbar>
<div class="container">
  <main class="container" role="main">
    <router-outlet></router-outlet>
   
  </main>
  
</div>



<!-- <div class="container">

  <table class="table">
    <thead>
      <tr>
        <th class="text-center">Title</th>
        <th class="text-center">id</th>
        <th class="text-center">Id user</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of post">
        <td scope="row">{{post.title}}</td>
        <td>{{post.id}}</td>
        <td>{{post.userId}}</td>
      </tr>
    </tbody>
  </table>
</div> -->